{% extends "andr_finance/base.html" %}

{% block content %}

<h3>Accounts:</h3>

<table border=0 cellpadding=5 cellspacing=0 class="table_report">
    <tr>
        <td class="td_title">Name</td>
        <td class="td_title">Currency</td>
        <td class="td_title">Edit</td>
        <td class="td_title">Balance</td>
    </tr>
    {% for context_account in context_accounts %}
    <tr>
        <td class="td_left">{{ context_account.account.name }}</td>
        <td class="td_left">{{ context_account.account.currency }}</td>
        <td class="td_center"><a href="{% url 'andr_finance:account_edit' context_account.account.id %}">Edit</a></td>
        <td class="td_left">
            context_account.account.balance: {{ context_account.account.balance }},<br>
            context_account.balance: {{ context_account.balance }}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>Empty currency</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
</table>

<br><br>
<a href="{% url 'andr_finance:account_new' %}">New account</a>

{% endblock content %}