{% extends "andr_finance/base.html" %}

{% block content %}

    <h2>Счета</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Название</th>
            <th>Валюта</th>
            <th>Редактировать</th>
            <th>Баланс</th>
        </tr>
        </thead>
        <tbody>
        {% for context_account in context_accounts %}
            <tr>
                <td>{{ context_account.account.name }}</td>
                <td>{{ context_account.account.currency }}</td>
                <td><a href="{% url 'andr_finance:account_edit' context_account.account.id %}">Редактировать</a></td>
                <td>
                    context_account.account.balance: {{ context_account.account.balance }},<br>
                    context_account.balance: {{ context_account.balance }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>Нет счетов</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'andr_finance:account_add' %}" class="btn btn-outline-primary btn-sm mt-2">Добавить новый счет</a>

{% endblock content %}