{% extends "andr_finance/base.html" %}

{% block content %}

<h3>Currencies:</h3>

<table border=0 cellpadding=5 cellspacing=0 class="table_report">
    <tr>
        <td class="td_title">Name</td>
        <td class="td_title">Code</td>
        <td class="td_title">Edit</td>
    </tr>
    {% for currency in currencies %}
    <tr>
        <td class="td_left">{{ currency.name }}</td>
        <td class="td_left">{{ currency.code }}</td>
        <td class="td_left">
            <a href="{% url 'andr_finance:currency_edit' currency.id %}">Edit</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>Empty currency</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endfor%}
</table>

<br><br>
<a href="{% url 'andr_finance:currency_new' %}">New currency</a>

{% endblock content %}