{% extends "andr_finance/base.html" %}

{% block content %}

    <h2>Валюты</h2>

    <div class="row">
        <div class="col-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Код</th>
                    <th scope="col">Редактировать</th>
                </tr>
                </thead>
                <tbody>
                {% for currency in currencies %}
                    <tr>
                        <td>{{ currency.name }}</td>
                        <td>{{ currency.code }}</td>
                        <td>
                            <a href="{% url 'andr_finance:currency_edit' currency.id %}">Редактировать</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>Empty currency</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{% url 'andr_finance:currency_add' %}" class="btn btn-outline-primary btn-sm mt-3">Добавить новую
        валюту</a>

{% endblock content %}