{% extends "andr_finance/base.html" %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>Transactions:</p>

<ul>
    {% for transaction in transactions %}
    <li>
        <a href="{% url 'andr_finance:transaction_edit' transaction.id %}">
            {{ transaction.account.name }}, {{ transaction.change }},
            {{ transaction.amount }} {{transaction.account.currency.name }},
            {{ transaction.date_added|date:"d.m.Y H:m" }},
            {{ transaction.category.name }},
            {{ transaction.title }}
        </a>
        <a href="{% url 'andr_finance:transaction_delete' transaction.id%}">Delete</a>
    </li>
    {% empty %}
    <li>Empty transaction</li>
    {% endfor %}
</ul>

<a href="{% url 'andr_finance:transaction_new' %}">New transaction</a>

{% endblock content %}