{% extends "andr_finance/base.html" %}

{% block content %}

    <h3>Транзакции:</h3>

    <form action="{% url 'andr_finance:transactions' %}" method='get'>
        {% csrf_token %}
        <label for="filter_account">Account:</label>
        <select name="filter_account" id="filter_account">

            {# todo: Правильно?: id - нулём не может быть?   #}
            <option
                    value="0"
                    {% if filter_account == '0' %}
                    selected
                    {% endif %}
            >--- Не выбрано ---
            </option>

            {% for account in accounts %}
                <option
                        value="{{ account.id }}"
                        {% if filter_account == account.id|stringformat:"s" %}
                        selected
                        {% endif %}
                >{{ account.name }}</option>
            {% endfor %}

        </select>
        <br><br>
        <button name="submit">Сформировать</button>
    </form>

    <table border=0 cellpadding=5 cellspacing=0 class="table_report">
        <thead>
        <th>+ / -</th>
        <th>Категория</th>
        <th>Дата</th>
        <th>Сумма</th>
        <th>Счет</th>
        <th>Описание</th>
        <th>Редактировать</th>
        <th>Удалить</th>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td class="td_left">
                    {% if transaction.change == 'receipt' %}
                        -
                    {% elif transaction.change == 'expense' %}
                        +
                    {% elif transaction.change == 'transfer' %}
                        Перевод
                    {% endif %}
                </td>
                <td class="td_left">{{ transaction.category.name }}</td>
                <td class="td_left">{{ transaction.date_added|date:"d.m.Y H:m" }}</td>
                <td class="td_right">{{ transaction.amount }} {{ transaction.account.currency.name }}</td>
                <td class="td_left">{{ transaction.account.name }}</td>
                <td class="td_left">{{ transaction.title }}</td>
                <td class="td_center"><a href="{% url 'andr_finance:transaction_edit' transaction.id %}">Редактировать</a></td>
                <td class="td_center"><a href="{% url 'andr_finance:transaction_delete' transaction.id %}">Удалить</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="td_left">Нет транзакций</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td class="td_right" colspan="3">Итого</td>
            <td class="td_right">{{ total_amount }} {{ total_currency_name }}</td>
            <td class="td_right" colspan="4"></td>
        </tr>
        </tbody>
    </table>
    <form action="{% url 'andr_finance:transaction_add' %}">
        <button type="submit">Добавить новую транзацию</button>
    </form>

{% endblock content %}