{% extends "andr_finance/base.html" %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>Transactions:</p>

<ul>
    {% for transaction in transactions %}
    <li>
        <a href="{% url 'andr_finance:edit_transaction' transaction.id %}">
            {{ transaction.account.name }}, {{ transaction.change }}, {{ transaction.amount }},
            {{transaction.account.currency.name }}, {{ transaction.date_added|date:"d.m.Y H:m" }}, {{transaction.title
            }}
        </a>
        <a href="{% url 'andr_finance:delete_transaction' transaction.id%}">Delete</a>
    </li>
    {% empty %}
    <li>Empty transaction</li>
    {% endfor %}
</ul>

<a href="{% url 'andr_finance:new_transaction' %}">New transaction</a>

{% endblock content %}