{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AndrFinance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <link href="{% static 'andr_finance/datetimepicker/jquery.datetimepicker.min.css' %}" rel="stylesheet"
          type="text/css">
    <script src="{% static 'andr_finance/datetimepicker/jquery.datetimepicker.full.js' %}"></script>

    <link href="{% static 'andr_finance/bootstrap/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'andr_finance/bootstrap/bootstrap.bundle.js' %}"></script>

    <link href="{% static 'andr_finance/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <header>
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a
                            href="{% url 'andr_finance:index' %}"
                            class="nav-link px-2 {% if select_menu == 'index' %}link-secondary active{% endif %}"
                            {% if select_menu == 'index' %}aria-current="page"{% endif %}
                    >AndrFinance</a>
                </li>
                <li>
                    <a
                            href="{% url 'andr_finance:categories' %}"
                            class="nav-link px-2 {% if select_menu == 'categories' %}link-secondary active{% endif %}"
                            {% if select_menu == 'categories' %}aria-current="page"{% endif %}
                    >Категории</a>
                </li>
                <li>
                    <a
                            href="{% url 'andr_finance:accounts' %}"
                            class="nav-link px-2 {% if select_menu == 'accounts' %}link-secondary active{% endif %}"
                            {% if select_menu == 'accounts' %}aria-current="page"{% endif %}
                    >Счета</a>
                </li>
                <li>
                    <a
                            href="{% url 'andr_finance:transactions' %}"
                            class="nav-link px-2 {% if select_menu == 'transactions' %}link-secondary active{% endif %}"
                            {% if select_menu == 'transactions' %}aria-current="page"{% endif %}
                    >Транзакции</a>
                </li>
                <li>
                    <a
                            href="{% url 'andr_finance:reports' %}"
                            class="nav-link px-2 {% if select_menu == 'reports' %}link-secondary active{% endif %}"
                            {% if select_menu == 'reports' %}aria-current="page"{% endif %}
                    >Отчет</a>
                </li>
            </ul>
        </header>
    </header>

    <main>
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% block content %}{% endblock content %}
    </main>
</div>
</body>
</html>