{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AndrFinance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{% static 'andr_finance/jquery/jquery-3.6.0.js' %}"></script>

    <link href="{% static 'andr_finance/datetimepicker/jquery.datetimepicker.min.css' %}" rel="stylesheet"
          type="text/css">
    <script src="{% static 'andr_finance/datetimepicker/jquery.datetimepicker.full.js' %}"></script>

    <link href="{% static 'andr_finance/bootstrap/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'andr_finance/bootstrap/bootstrap.bundle.js' %}"></script>

    <link href="{% static 'andr_finance/bootstrap-datepicker/bootstrap-datepicker3.css' %}" rel="stylesheet"
          type="text/css">
    <script src="{% static 'andr_finance/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'andr_finance/bootstrap-datepicker/bootstrap-datepicker.ru.min.js' %}"></script>

    <link href="{% static 'andr_finance/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img
                            src="{% static 'andr_finance/images/wallet2.svg' %}"
                            class="bi me-2" width="40" height="32"
                            alt=""
                    >
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a
                                href="{% url 'andr_finance:index' %}"
                                class="nav-link px-2 {% if select_menu == 'index' %}link-secondary active{% endif %}"
                                {% if select_menu == 'index' %}aria-current="page"{% endif %}
                        >AndrFinance</a>
                    </li>
                    <li>
                        <a
                                href="{% url 'andr_finance:transactions' %}"
                                class="nav-link px-2 {% if select_menu == 'transactions' %}link-secondary active{% endif %}"
                                {% if select_menu == 'transactions' %}aria-current="page"{% endif %}
                        >Транзакции</a>
                    </li>
                    <li>
                        <a
                                href="{% url 'andr_finance:reports' %}"
                                class="nav-link px-2 {% if select_menu == 'reports' %}link-secondary active{% endif %}"
                                {% if select_menu == 'reports' %}aria-current="page"{% endif %}
                        >Графики</a>
                    </li>
                    <li>
                        <a
                                href="{% url 'andr_finance:categories' %}"
                                class="nav-link px-2 {% if select_menu == 'categories' %}link-secondary active{% endif %}"
                                {% if select_menu == 'categories' %}aria-current="page"{% endif %}
                        >Категории</a>
                    </li>
                    <li>
                        <a
                                href="{% url 'andr_finance:accounts' %}"
                                class="nav-link px-2 {% if select_menu == 'accounts' %}link-secondary active{% endif %}"
                                {% if select_menu == 'accounts' %}aria-current="page"{% endif %}
                        >Счета</a></li>
                    <li>
                    <li>
                        <a
                                href="{% url 'andr_finance:my_settings' %}"
                                class="nav-link px-2 {% if select_menu == 'my_settings' %}link-secondary active{% endif %}"
                        >Настройки</a>
                    </li>
                </ul>

                <div class="nav justify-content-end col-4 col-md-4 col-sm-6">
                    {% if user.is_authenticated %}
                        <a
                                href="{% url 'users:profile' %}"
                                class="nav-link px-2 link-primary me-2"
                        >{{ user.username }}</a>
                        <a
                                href="{% url 'users:logout' %}"
                                class="nav-link px-2 link-primary me-2"
                        >Выход</a>
                    {% else %}
                        <a
                                href="{% url 'users:login' %}"
                                class="nav-link px-2 link-primary me-2 {% if select_menu == 'login' %}link-secondary active{% endif %}"
                        >Войти</a>
                        <a
                                href="{% url 'users:register' %}"
                                class="nav-link px-2 link-primary me-2"
                        >Регистрация</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </header>

    <main>
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% block content %}{% endblock content %}
    </main>

</div>
</body>
</html>