{% extends "andr_finance/base.html" %}

{% load static %}

{% block content %}
    <h2>Создание категории:</h2>
    <div class="row">
        <div class="col-6">
            <form action="{% url 'andr_finance:category_add' %}" method="post" class="mt-5"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-error">{{ form.non_field_errors }}</div>
                </div>
                {% for f_elem in form %}
                    <div class="form-group">
                        <label class="form-label" for="{{ f_elem.id_for_label }}">{{ f_elem.label }}</label>
                        {{ f_elem }}
                        <div class="form-error">{{ f_elem.errors }}</div>
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-outline-primary btn-sm mt-3">Добавить категорию</button>
                <a href="{% url 'andr_finance:categories' %}" class="btn btn-outline-primary btn-sm mt-3">Отмена</a>
            </form>
        </div>
    </div>


    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills mb-3" id="filters">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-filter="*">Все</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-filter=".category-1">Финансы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-filter=".category-2">Еда</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row isotope-grid row row-cols-auto">
            <div class="col isotope-item category-1" data-category="category-1">
                <img src="{% static 'andr_finance/images/finance/icons8-английский-фунт-48.png' %}"
                     alt="Image 1" width="48" height="48">
            </div>
            <div class="col isotope-item category-1" data-category="category-1">
                <img src="{% static 'andr_finance/images/finance/icons8-цент-48.png' %}"
                     alt="Image 2" width="48" height="48">
            </div>
            <div class="col isotope-item category-1" data-category="category-1">
                <img src="{% static 'andr_finance/images/finance/icons8-сейф-48.png' %}"
                     alt="Image 3" width="48" height="48">
            </div>
            <div class="col isotope-item category-1" data-category="category-1">
                <img src="{% static 'andr_finance/images/finance/icons8-рубль-48.png' %}"
                     alt="Image 4" width="48" height="48">
            </div>
            <div class="col isotope-item category-1" data-category="category-1">
                <img src="{% static 'andr_finance/images/finance/icons8-обмен-доллар-евро-48.png' %}"
                     alt="Image 5" width="48" height="48">
            </div>
            <div class="col isotope-item category-1" data-category="category-1">
                <img src="{% static 'andr_finance/images/finance/icons8-мастеркард-48.png' %}"
                     alt="Image 6" width="48" height="48">
            </div>
            <div class="col isotope-item category-1" data-category="category-1">
                <img src="{% static 'andr_finance/images/finance/icons8-виза-48.png' %}"
                     alt="Image 7" width="48" height="48">
            </div>

            <div class="col isotope-item category-2" data-category="category-2">
                <img src="{% static 'andr_finance/images/foot/icons8-яблоко-48.png' %}"
                     alt="Image 8" width="48" height="48">
            </div>
            <div class="col isotope-item category-2" data-category="category-2">
                <img src="{% static 'andr_finance/images/foot/icons8-хлеб-48.png' %}"
                     alt="Image 9" width="48" height="48">
            </div>
            <div class="col isotope-item category-2" data-category="category-2">
                <img src="{% static 'andr_finance/images/foot/icons8-еда-и-вино-48.png' %}"
                     alt="Image 10" width="48" height="48">
            </div>
            <div class="col isotope-item category-2" data-category="category-2">
                <img src="{% static 'andr_finance/images/foot/icons8-торт-ко-дню-рождения-48.png' %}"
                     alt="Image 11" width="48" height="48">
            </div>
            <div class="col isotope-item category-2" data-category="category-2">
                <img src="{% static 'andr_finance/images/foot/icons8-спагетти-48.png' %}"
                     alt="Image 12" width="48" height="48">
            </div>
            <div class="col isotope-item category-2" data-category="category-2">
                <img src="{% static 'andr_finance/images/foot/icons8-салями-48.png' %}"
                     alt="Image 12" width="48" height="48">
            </div>

        </div>
    </div>

    <script>

        $(document).ready(function () {

            // Инициализация Isotope
            var isotope = new Isotope('.isotope-grid', {
                itemSelector: '.isotope-item',
                layoutMode: 'fitRows',
                filter: '.category-2'
            });

            // Фильтрация по категориям
            $('#filters').on('click', 'a', function (event) {
                var filterValue = $(this).attr('data-filter');
                isotope.arrange({filter: filterValue});

                // Удаление класса active со всех кнопок
                $('#filters').find('.nav-link').removeClass('active');

                // Добавление класса active к выбранной кнопке
                $(this).addClass('active');
            });

            // Убираем выделение со всех элементов, кроме выбранного
            $('.isotope-grid').on('click', '.isotope-item', function (event) {
                $('.isotope-item').not(this).removeClass('selected');
                $(this).toggleClass('selected');
            });
        });

    </script>

    <style>
        .isotope-grid {
            display: flex;
            flex-wrap: wrap;
        }

        .isotope-item {
            margin: 3px;
            padding: 3px;
            border: 1px solid #ddd;
            text-align: center;
        }

        .isotope-item img {
            display: block;
            margin: 0 auto;
        }

        .isotope-item.selected {
            border: 2px solid blue;
        }

    </style>

{% endblock content %}