{% extends "andr_finance/base.html" %}

{% block content %}

    {% load static %}

    <h2>Создание категории:</h2>
    <div class="row">
        <div class="col-6">
            <form action="{% url 'andr_finance:category_add' %}" method="post" class="mt-5"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-error">{{ form.non_field_errors }}</div>
                </div>
                <div class="form-group mb-3">
                    <img
                            src="{{ images_path }}{{ image_default_folder }}/{{ image_default_file }}"
                            alt="" width="48" height="48" id="id_img_icon"
                            class="mb-2"
                    >
                    <input name="icon_folder" type="hidden" value="{{ image_default_folder }}">
                    <input name="icon_file" type="hidden" value="{{ image_default_file }}">

                    <button type="button" class="btn btn-outline-primary btn-sm mb-2" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Выбрать иконку
                    </button>
                </div>

                {% for f_elem in form %}
                    <div class="form-group">
                        <label class="form-label" for="{{ f_elem.id_for_label }}">{{ f_elem.label }}</label>
                        {{ f_elem }}
                        <div class="form-error">{{ f_elem.errors }}</div>
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-outline-primary btn-sm mt-3">Добавить категорию</button>
                <a href="{% url 'andr_finance:categories' %}" class="btn btn-outline-primary btn-sm mt-3">Отмена</a>
            </form>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Выбор иконки</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body" id="modal_select_image">
                    <div class="container-fluid">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for image in images %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {{ image.active }}" id="{{ image.folder }}-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#{{ image.folder }}-tab-pane" type="button" role="tab"
                                            aria-controls="{{ image.folder }}-tab-pane"
                                            aria-selected="{{ image.aria_selected }}">{{ image.name_rus }}
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content mt-3" id="myTabContent">
                            {% for image in images %}
                                <div class="tab-pane fade {{ image.show }} {{ image.active }}"
                                     id="{{ image.folder }}-tab-pane" role="tabpanel"
                                     aria-labelledby="{{ image.folder }}-tab" tabindex="0">

                                    <div class="row row-cols-auto">
                                        {% for image_item in image.images %}
                                            <div class="col">
                                                <img
                                                        src="{{ images_path }}{{ image.folder }}/{{ image_item }}"
                                                        alt="" width="48" height="48"
                                                        data-img-folder="{{ image.folder }}"
                                                        data-img-file="{{ image_item }}"
                                                >
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendSelectImg()">
                        Выбрать иконку
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let select_img_src = '';
        let select_img_folder = '';
        let select_img_file = '';

        $(document).ready(function () {

            $('#modal_select_image img').on('click', function (event) {
                $('img').not(this).removeClass('selected');
                $(this).toggleClass('selected');

                select_img_src = $(this).attr('src');
                select_img_folder = $(this).attr('data-img-folder');
                select_img_file = $(this).attr('data-img-file');
            });

        });

        function sendSelectImg() {
            if (select_img_src !== '') {
                $('img#id_img_icon').attr('src', select_img_src)
                $('input[name=icon_folder]').val(select_img_folder)
                $('input[name=icon_file]').val(select_img_file)
            }
        }
    </script>

    <style>
        #modal_select_image img.selected {
            border: 2px solid blue;
        }

        #id_img_icon {
            border: 1px solid #dee2e6;
        }
    </style>

{% endblock content %}