{% extends "andr_finance/base.html" %}
{% load andr_finance_extras %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>Редактирование категории:</h2>
        <div class="row">
            <div class="col-6">
                <form action="{% url "andr_finance:category_edit" category.id %}" method="post" class="mt-5">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-error">{{ form.non_field_errors }}</div>
                    </div>
                    <div class="form-group mb-3">
                        {% if icon_file %}
                            <img
                                    src="{{ images_path }}{{ icon_folder }}/{{ icon_file }}"
                                    alt="" width="48" height="48" id="id_img_icon"
                                    class="mb-2"
                            >
                            <input name="icon_folder" type="hidden" value="{{ icon_folder }}">
                            <input name="icon_file" type="hidden" value="{{ icon_file }}">
                        {% else %}
                            <img
                                    src="{{ images_path }}{{ image_default_folder }}/{{ image_default_file }}"
                                    alt="" width="48" height="48" id="id_img_icon"
                                    class="mb-2"
                            >
                            <input name="icon_folder" type="hidden" value="{{ image_default_folder }}">
                            <input name="icon_file" type="hidden" value="{{ image_default_file }}">
                        {% endif %}
                        <button type="button" class="btn btn-outline-primary btn-sm mb-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Выбрать иконку
                        </button>
                    </div>

                    {% for f_elem in form %}
                        <div class="form-group">
                            <label class="form-label" for="{{ f_elem.id_for_label }}">{{ f_elem.label }}</label>
                            {{ f_elem }}
                            <div class="form-error">{{ f_elem.errors }}</div>
                        </div>
                    {% endfor %}
                    <button name="submit" class="btn btn-outline-primary btn-sm mt-3">Сохранить</button>
                    <a href="{% url 'andr_finance:categories' %}" class="btn btn-outline-primary btn-sm mt-3">Отмена</a>
                </form>

                <form action="{% url "andr_finance:category_delete" category.id %}" method="post">
                    {% csrf_token %}
                    <button name="submit" class="btn btn-outline-primary btn-sm mt-3">Удалить</button>
                </form>

            </div>
        </div>
    </div>

    {% modal_dialog_select_icon images=images images_path=images_path icon_file=icon_file%}

{% endblock content %}