{% extends "andr_finance/base.html" %}

{% block content %}

    <header>
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom nav-tabs mb-4">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a
                            href="{% url 'andr_finance:reports' %}?chart_select=cash_flow"
                            class="nav-link px-2 {% if chart_select == 'cash_flow' %}link-secondary active{% endif %} "
                            {% if chart_select == 'cash_flow' %}aria-current="page"{% endif %}
                    >Денежный поток</a>
                </li>
                <li>
                    <a
                            href="{% url 'andr_finance:reports' %}?chart_select=by_category"
                            class="nav-link px-2 {% if chart_select == 'by_category' %}link-secondary active{% endif %}"
                            {% if chart_select == 'by_category' %}aria-current="page"{% endif %}
                    >По категориям</a>
                </li>
            </ul>
        </header>
    </header>
    <form action="{% url 'andr_finance:reports' %}" method='get' id="form_filter">
        <input name="second" type="hidden" value="on">
        <input name="chart_select" type="hidden" value="{{ chart_select }}">
        <div class="row g-2 align-items-end mb-3">
            <div class="col-md-4">
                <div class="" id="sandbox-container">
                    <label>Период:</label>
                    <div class="input-daterange input-group d-flex align-items-center justify-content-center"
                         id="datepicker">
                        <input type="text" class="input-sm form-control" name="filter_date_start"
                               value="{{ filter_date_start }}" autocomplete="off"/>
                        <span class="input-group-addon">-</span>
                        <input type="text" class="input-sm form-control" name="filter_date_end"
                               value="{{ filter_date_end }}" autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <select name="filter_account" id="filter_account" class="form-select">
                        <option
                                value="0"
                                {% if filter_account == '0' %}
                                selected
                                {% endif %} >
                            --- Не выбрано ---
                        </option>
                        {% for account in accounts %}
                            <option
                                    value="{{ account.id }}"
                                    {% if filter_account == account.id|stringformat:"s" %}
                                    selected
                                    {% endif %}
                            >{{ account.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="filter_account">Счет:</label>
                </div>
            </div>
            <div class="col-md">
                <button class="btn btn-outline-primary btn-sm mt-2" type="submit">Сформировать</button>
                <button class="btn btn-outline-primary btn-sm mt-2" type="submit" id="filter_clean">Сбросить фильтры
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    {% load static %}
    <script src="{% static 'andr_finance/chartjs/chart.js' %}"></script>

    <script>
        const ctx = document.getElementById('myChart');

        {% if chart_select == 'cash_flow' %}
            const config = {
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                    }
                },
                data: {
                    datasets: [
                        {
                            type: 'line',
                            label: 'Баланс',
                            borderColor: '#36A2EB',
                            backgroundColor: '#9BD0F5',
                            data:
                                {% autoescape off %}
                                    {{ charts.line }}
                                {% endautoescape %}
                            ,
                        },
                        {
                            type: 'bar',
                            label: 'Доход',
                            backgroundColor: '#4BC0C0',
                            data:
                                {% autoescape off %}
                                    {{ charts.bar_plus }}
                                {% endautoescape %}
                        },
                        {
                            type: 'bar',
                            label: 'Расход',
                            backgroundColor: '#FFB1C1',
                            data:
                                {% autoescape off %}
                                    {{ charts.bar_minus }}
                                {% endautoescape %}
                        },
                    ],
                    labels:
                        {% autoescape off %}
                            {{ charts.labels }}
                        {% endautoescape %}

                }
            }
        {% elif chart_select == 'by_category' %}


            const data = {
                labels: [''],
                datasets: [
                    {% for category in charts.chart_bar_category %}
                    {
                        label: '{{ category.category_name }}',
                        data: [{{ category.amount|stringformat:".2f" }}],
                    },
                    {% endfor %}
                /*
                    {
                        label: 'Dataset 2',
                        data: ['7'],
                    }

                 */
                ]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    indexAxis: 'y',
                    elements: {
                        bar: {
                            borderWidth: 2,
                        }
                    },
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'right',
                        },
                    }
                },
            };

        {% endif %}

        new Chart(ctx, config)
    </script>

    <script>

        function formatDate(date) {
            const day = String(date.getDate()).padStart(2, '0');
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const year = date.getFullYear();
            return `${day}.${month}.${year}`;
        }

        $(document).ready(function () {

            $('#sandbox-container .input-daterange').datepicker({
                todayBtn: "linked",
                clearBtn: true,
                language: "ru",
                autoclose: true,
                todayHighlight: true,
                keepEmptyValues: true
            });

            $('form#form_filter').change(function () {
                $('form#form_filter').submit();
            });

            $('button#filter_clean').click(function (event) {

                $('select[name=filter_account]').val(0)
                $('select[name=filter_category]').val(0)
                $('select[name=filter_type_transaction]').val(0)

                let currentDate = new Date();
                // Устанавливаем текущую дату на первый день месяца
                let startDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
                // Получаем следующий месяц
                let nextMonth = currentDate.getMonth() + 1;
                let nextYear = currentDate.getFullYear();
                if (nextMonth === 12) {
                    nextMonth = 0;
                    nextYear++;
                }
                // Устанавливаем текущую дату на последний день месяца (первый день следующего месяца минус один день)
                var endDate = new Date(nextYear, nextMonth, 0);

                // Выводим результат
                {#console.log("Начало текущего месяца:", startDate);#}
                {#console.log("Конец текущего месяца:", endDate);#}

                $('input[name=filter_date_start]').val(formatDate(startDate))
                $('input[name=filter_date_end]').val(formatDate(endDate))
            });

        });

    </script>

{% endblock content %}