{% load static %}

{% if group_object_id %}
<tr class="collapse" id="collapse_td_{{ group_object_id }}">
{% else %}
<tr>
{% endif %}
    <td></td>
    <td>
        <img
                {% if transaction.category.icon_folder is not None %}
                    src="{% static 'andr_finance/item_images/' %}{{ transaction.category.icon_folder }}/{{ transaction.category.icon_file }}"
                {% else %}
                    src="{{ icon_default }}"
                {% endif %}
                    width="20" height="20"
                    alt=""
        />
    </td>
    <td>{{ transaction.category.name }}</td>

    {% if transaction.type_transaction == 'minus' %}
    <td class="text-end">-{{ transaction.amount|floatformat:"2g" }}</td>
    {% elif transaction.type_transaction == 'plus' %}
    <td class="text-end text-success">{{ transaction.amount|floatformat:"2g" }}</td>
    {% elif transaction.type_transaction == 'transfer' %}
    <td class="text-end text-primary">{{ transaction.amount|floatformat:"2g" }}</td>
    {% endif %}

    {% if balance >= 0 %}
    <td class="text-end">{{ balance|floatformat:"2g" }}</td>
    {% else %}
    <td class="text-end text-danger">{{ balance|floatformat:"2g" }}</td>
    {% endif %}

    <td>
        {% if transaction.type_transaction == 'minus' or transaction.type_transaction == 'plus' %}
            {{ transaction.account.name }}
        {% elif transaction.type_transaction == 'transfer' %}
            {{ transaction.account.name }} &#8594;<br>{{ transaction.account_recipient.name }}
        {% endif %}
    </td>
    <td>
        <a href="{% url 'andr_finance:transaction_edit' transaction.type_transaction transaction.id %}">
            {{ transaction.date_add|date:"d.m.Y H:i" }}
        </a>
    </td>
    <td>{{ transaction.title }}</td>
    <td class="align-middle text-center">
        <a href="{% url 'andr_finance:transaction_delete' transaction.id %}" title="Удалить">
            <img src="{% static 'andr_finance/images/x-circle.svg' %}" alt="">
        </a>
    </td>
</tr>
