{% load static %}

{% if group_object_id %}
<tr class="collapse" id="collapse_td_{{ group_object_id }}">
{% else %}
<tr>
{% endif %}
    <td>
        <img
                {% if transaction.category.icon_folder is not None %}
                    src="{% static 'andr_finance/item_images/' %}{{ transaction.category.icon_folder }}/{{ transaction.category.icon_file }}"
                {% else %}
                    src="{{ icon_default }}"
                {% endif %}
                    width="20" height="20"
                    alt=""
        />
    </td>
    <td>{{ transaction.category.name }}</td>

    {% if transaction.type_transaction == 'minus' %}
    <td class="text-end">- {{ transaction.amount|floatformat:"2g" }}</td>
    {% elif transaction.type_transaction == 'plus' %}
    <td class="text-end text-success">{{ transaction.amount|floatformat:"2g" }}</td>
    {% elif transaction.type_transaction == 'transfer' %}
    <td class="text-end text-primary">{{ transaction.amount|floatformat:"2g" }}</td>
    {% endif %}

    <td></td>
    <td>
        {% if transaction.type_transaction == 'minus' or transaction.type_transaction == 'plus' %}
            {{ transaction.account.name }}
        {% elif transaction.type_transaction == 'transfer' %}
            {{ transaction.account.name }} &#8594; {{ transaction.account_recipient.name }}
        {% endif %}
    </td>
    <td>
        <a href="{% url 'andr_finance:transaction_edit' transaction.type_transaction transaction.id %}">
            {{ transaction.date_add|date:"d.m.Y H:i" }}
        </a>
    </td>
    <td>{{ transaction.title }}</td>
    <td class="align-middle text-center">
        <a href="{% url 'andr_finance:transaction_delete' transaction.id %}" title="Удалить">
            <svg class="bi bi-exclamation-triangle text-danger" width="16" height="16"
                 fill="currentColor"
                 viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </a>
    </td>
</tr>
