{% extends "andr_finance/base.html" %}
{% load static %}
{% load andr_finance_extras %}

{% block content %}

    <script>
        $(document).ready(function () {
            $('#sandbox-container .input-daterange').datepicker({
                todayBtn: "linked",
                clearBtn: true,
                language: "ru",
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>

    <h2>Транзакции:</h2>

    <form action="{% url 'andr_finance:transactions' %}" method='get'>
        <input name="sorting" value="{{ sorting }}" type="hidden">
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select name="filter_account" id="filter_account" class="form-select">
                        <option
                                value="0"
                                {% if filter_account == '0' %}
                                selected
                                {% endif %} >
                            --- Не выбрано ---
                        </option>
                        {% for account in accounts %}
                            <option
                                    value="{{ account.id }}"
                                    {% if filter_account == account.id|stringformat:"s" %}
                                    selected
                                    {% endif %}
                            >{{ account.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="filter_account">Счет:</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="filter_category" id="filter_category" class="form-select">
                        <option
                                value="0"
                                {% if filter_category == '0' %}
                                selected
                                {% endif %} >
                            --- Не выбрано ---
                        </option>
                        {% for category in categories %}
                            <option
                                    value="{{ category.id }}"
                                    {% if filter_category == category.id|stringformat:"s" %}
                                    selected
                                    {% endif %}
                            >{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="filter_category">Категория:</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="filter_type_transaction" id="filter_type_transaction" class="form-select">
                        <option
                                value="0"
                                {% if filter_category == '0' %}
                                selected
                                {% endif %} >
                            --- Не выбрано ---
                        </option>
                        {% for type_transaction in type_transactions %}
                            <option
                                    value="{{ type_transaction.code }}"
                                    {% if filter_type_transaction == type_transaction.code %}
                                    selected
                                    {% endif %}
                            >{{ type_transaction.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="filter_type_transaction">Тип транзакции:</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="filter_group" id="filter_group" class="form-select">
                        <option
                                value="0"
                                {% if filter_group == 'not_group' %}selected{% endif %}
                        >--- Не группировать ---
                        </option>
                        <option
                                value="category"
                                {% if filter_group == 'category' %}selected{% endif %}
                        >Категориям
                        </option>
                        <option
                                value="date"
                                {% if filter_group == 'date' %}selected{% endif %}
                        >Датам
                        </option>
                    </select>
                    <label for="filter_group">Группировать по:</label>
                </div>
            </div>
        </div>

        <div class="row g-2 mt-1">
            <div class="col-md-3">
                <div class="" id="sandbox-container">
                    <label>Период:</label>
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" name="filter_date_start"
                               value="{{ filter_date_start }}" autocomplete="off"/>
                        <span class="input-group-addon">до</span>
                        <input type="text" class="input-sm form-control" name="filter_date_end"
                               value="{{ filter_date_end }}" autocomplete="off"/>
                    </div>
                </div>
            </div>
        </div>

        <button name="submit" class="btn btn-outline-primary btn-sm mt-2">Сформировать</button>
    </form>

    <form action="{% url 'andr_finance:transaction_add' 'minus' %}">
        <button type="submit" class="btn btn-outline-primary btn-sm mt-2">Добавить транзакцию</button>
    </form>

    <div class="table-responsive">
        <table class="table table-hover table-sm mt-3">
            <thead class="table-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">
                    <a href="" class="text-decoration-none text-secondary-emphasis">
                        Категория
                    </a>
                </th>
                <th scope="col">
                    <a href="" class="text-decoration-none text-secondary-emphasis">
                        Сумма
                    </a>
                </th>
                <th scope="col"><a href="" class="text-decoration-none text-secondary-emphasis">Счет</a></th>
                <th scope="col">
                    <a href="" class="text-decoration-none text-secondary-emphasis">
                        Дата
                        <img src="{% static 'andr_finance/images/sort-down.svg' %}" alt="">
                    </a></th>
                <th scope="col"><a href="" class="text-decoration-none text-secondary-emphasis">Описание</a></th>
                <th scope="col"><a href="" class="text-decoration-none text-secondary-emphasis">Удалить</a></th>
            </tr>
            </thead>
            <tbody>
            {% if group_by != "" %}
                {% for transaction_group in transactions_group %}
                    <tr
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse_td_{{ transaction_group.category_id }}"
                            aria-expanded="false"
                            aria-controls="collapse_td_{{ transaction_group.category_id }}"
                            class="tr_group"
                    >
                        <td>
                            <span class="group_chevron_right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </span>
                        </td>
                        <td
                                class="fw-bold"
                        >{{ transaction_group.category_name }}</td>
                        <td class="fw-bold text-end">{{ transaction_group.total }}</td>
                        <td colspan="5"></td>
                    </tr>
                    {% for transaction in transaction_group.transactions %}
                        {% tr_transaction transaction transaction_group.category_id icon_default %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for transaction in transactions %}
                    {% tr_transaction transaction None icon_default %}
                {% empty %}
                    <tr>
                        <td>Нет транзакций</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot class="table-light">
            <tr>
                <th></th>
                <th>Итого</th>
                <th class="text-end {% if total_amount < 0 %}text-danger{% else %}{% endif %}">{{ total_amount|floatformat:"2g" }}</th>
                <th colspan="4"></th>
            </tr>
            </tfoot>
        </table>
    </div>

{% endblock content %}