{% extends "andr_finance/base.html" %}


{% block content %}
    <h2 class="mb-3">Добавление новой транзакции</h2>

    <div class="row">
        <div class="col-6">

            <div class="btn-group mb-3">
                <a
                        href="{% url "andr_finance:transaction_add" type_transaction="minus" %}"
                        class="btn btn-outline-primary {% if type_transaction == "minus" %}active{% endif %}"
                        {% if type_transaction == "minus" %}
                        aria-current="page"
                        {% endif %}
                >Расход</a>
                <a
                        href="{% url "andr_finance:transaction_add" type_transaction="plus" %}"
                        class="btn btn-outline-primary {% if type_transaction == "plus" %}active{% endif %}"
                        {% if type_transaction == "plus" %}
                        aria-current="page"
                        {% endif %}
                >Доход</a>
                <a
                        href="{% url "andr_finance:transaction_add" type_transaction="transfer" %}"
                        class="btn btn-outline-primary {% if type_transaction == "transfer" %}active{% endif %}"
                        {% if type_transaction == "transfer" %}
                        aria-current="page"
                        {% endif %}
                >Перевод</a>
            </div>

            <form
                    {% if type_transaction == "minus" %}
                        action="{% url "andr_finance:transaction_add" "minus" %}"
                    {% elif type_transaction == "plus" %}
                        action="{% url "andr_finance:transaction_add" "plus" %}"
                    {% elif type_transaction == "transfer" %}
                        action="{% url "andr_finance:transaction_add" "transfer" %}"
                    {% endif %}
                        method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-error">{{ form.non_field_errors }}</div>
                </div>
                {% for f_elem in form %}
                    <div class="form-group">
                        <label class="form-label" for="{{ f_elem.id_for_label }}">{{ f_elem.label }}</label>
                        {{ f_elem }}
                        <div class="form-error">{{ f_elem.errors }}</div>
                    </div>
                {% endfor %}
                <button name="submit" type="submit" class="btn btn-outline-primary btn-sm mt-3">Добавить</button>
                <a href="{% url 'andr_finance:transactions' %}" class="btn btn-outline-primary btn-sm mt-3">Отмена</a>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#id_date_added').datetimepicker({
                format: 'Y-m-d H:i',
                defaultDate: new Date(),
            });
        });
    </script>

{% endblock content %}