{% extends "andr_finance/base.html" %}

{% block content %}
    <h2 class="mb-3">Редактирование транзакции</h2>
    <div class="row">
        <div class="col-6">

            <div class="btn-group mb-3">
                <a
                        href="{% url "andr_finance:transaction_edit_minus" transaction.id %}"
                        class="btn btn-outline-primary {% if type_transaction == "minus" %}active{% endif %}"
                        {% if type_transaction == "minus" %}
                        aria-current="page"
                        {% endif %}
                >Расход</a>
                <a
                        href="{% url "andr_finance:transaction_edit_plus" transaction.id %}"
                        class="btn btn-outline-primary {% if type_transaction == "plus" %}active{% endif %}"
                        {% if type_transaction == "plus" %}
                        aria-current="page"
                        {% endif %}
                >Доход</a>
                <a
                        href="{% url "andr_finance:transaction_edit_transfer" transaction.id %}"
                        class="btn btn-outline-primary {% if type_transaction == "transfer" %}active{% endif %}"
                        {% if type_transaction == "transfer" %}
                        aria-current="page"
                        {% endif %}
                >Перевод</a>
            </div>

            <form
                    {% if type_transaction == "minus" %}
                        action="{% url "andr_finance:transaction_edit_minus" transaction.id %}"
                    {% elif type_transaction == "plus" %}
                        action="{% url "andr_finance:transaction_edit_plus" transaction.id %}"
                    {% elif type_transaction == "transfer" %}
                        action="{% url "andr_finance:transaction_edit_transfer" transaction.id %}"
                    {% endif %}
                        method="post">

                {% csrf_token %}
                <div class="form-group">
                    <div class="form-error">{{ form.non_field_errors }}</div>
                </div>
                {% for f_elem in form %}
                    <div class="form-group">
                        <label class="form-label" for="{{ f_elem.id_for_label }}">{{ f_elem.label }}</label>
                        {% if f_elem.html_name == 'date_add' %}
                            <input
                                    type="text"
                                    name="{{ f_elem.html_name }}"
                                    value="{{ f_elem.value|date:"d.m.Y H:i" }}"
                                    format="%d.%m.%Y %H:%i"
                                    class="form-control mb-3 py-1"
                                    required=""
                                    id="{{ f_elem.id_for_label }}"
                            >
                        {% else %}
                            {{ f_elem }}
                        {% endif %}
                        <div class="form-error">{{ f_elem.errors }}</div>
                    </div>
                {% endfor %}
                <button name="submit" class="btn btn-outline-primary btn-sm mt-3">Сохранить</button>
                <a href="{% url 'andr_finance:transactions' %}" class="btn btn-outline-primary btn-sm mt-3">Отмена</a>
            </form>

            <form action="{% url 'andr_finance:transaction_delete' transaction.id %}" method='get'>
                {% csrf_token %}
                <button name="submit" class="btn btn-outline-primary btn-sm mt-3">Удалить</button>
            </form>
        </div>
    </div>

    <script>

        $(document).ready(function () {
            $('#id_date_add').datetimepicker({
                format: 'd.m.Y H:i',
                mask: true,
            });
        });

    </script>

{% endblock content %}