{% extends "andr_finance/base.html" %}
{% load static %}

{% block content %}
    <h2 class="mb-5">Авторизация</h2>
    <div class="row">
        <div class="col-4">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="form-group">
                    <div class="form-error">{{ form.non_field_errors }}</div>
                </div>
                {% for f_elem in form %}
                    <div class="form-group">
                        <label class="form-label" for="{{ f_elem.id_for_label }}">{{ f_elem.label }}</label>
                        {{ f_elem }}
                        <div class="form-error">{{ f_elem.errors }}</div>
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-outline-primary btn-sm mt-3">Войти</button>
            </form>
        </div>
    </div>

{% endblock %}

