{% extends 'andr_finance/base.html' %}

{% block content %}
	<h1 class="mb-5">Регистрация</h1>

	<h5 class="mb-1">Для демо доступа, <a href="{% url 'users:login' %}">введите</a>:</h5>
	<ul class="list-group-numbered  mb-5">
		<li><h5>Логин: <span class="fw-bold">demo</span></h5></li>
		<li><h5>Пароль: <span class="fw-bold">demo</span></h5></li>
	</ul>

	<div class="row">
		<div class="col-md-6">
			<form method="post">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}"/>
				<div class="form-error">{{ form.non_field_errors }}</div>
				{% for f_elem in form %}
					<div class="mb-3">
						<label class="form-label" for="{{ f_elem.id_for_label }}">{{ f_elem.label }}</label>
						{{ f_elem }}
						<div class="form-error">{{ f_elem.errors }}</div>
					</div>
				{% endfor %}
				<button type="submit" class="btn btn-outline-primary btn-sm mt-3">Регистрация</button>
			</form>
		</div>
	</div>
{% endblock %}

